//main-screen
.main-screen {
    overflow: hidden;
    //height: 100vh;
    position: relative;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    .text-block {
        max-width: 587px;
        width: 50%;
        padding-top: 232px;
    }
    .title {
        font-weight: bold;
        font-size: 64px;
        line-height: 72px;
        color: #000000;
        margin-bottom: 22px;
    }
    .subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 32px;
    }

    .image-block {
        width: 50%;
        &__bg {
            width: 100vh;
            height: 100vh;
            //width: 1132.11px;
            //height: 1382.08px;
            background: #FAE053;
            transform: rotate(25.68deg);
        }
    }

    &-scroll-svg {
        opacity: 1;
        transform: rotate(90deg) translateX(0);
        width: 66px;
        position: absolute;
        bottom: 6%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
    }

    //второй блок
    .screen-2 {
        //height: 100vh;
        //overflow: hidden;

        &__inner {
            height: 805px;
            display: flex;
        }
        .text-block {
            max-width: 679px;
            width: 100%;
            padding-top: 201px;
            //background: #FAE053;
            position: relative;
            height: 100%;
            z-index: 3;
        }
        .title {
            font-weight: bold;
            font-size: 64px;
            line-height: 72px;
            color: #000000;
            margin-bottom: 22px;
        }
        .subtitle {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #000000;
            margin-bottom: 32px;
        }

        .image-block {
            width: 50%;
            &__bg {
                width: 100vh;
                height: 100vh;
                //width: 1132.11px;
                //height: 1382.08px;
                background: #FAE053;
                transform: rotate(0deg);
            }
        }

        //.bg-yellow {
        //    width: 100vh;
        //    //height: 65vh;
        //    position: absolute;
        //    top: 0;
        //    height: 805px;
        //    right: 0;
        //    //width: 1132.11px;
        //    //height: 1382.08px;
        //    background: #FAE053;
        //    //transform: rotate(25.68deg);
        //    z-index: -1;
        //}
    }
}