section.block__img-text
    .container
        .block__img-text__inner
            .box.text-block
                h3.title Интернет-маркетинг
                .descr Контекстная реклама, SMM, лидогенерация, баннерная и видео реклама - то, что поможет вашему бизнесу в сети. Мы работаем, чтобы сделать ваш Digital эффективнее.
                .btn-2
                    a.btn-2__link(href="#") Поболтаем?
                        span.btn-2__arrow
                            svg(width='21' height='11' viewbox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1 5.38462H20M20 5.38462L15.25 1M20 5.38462L15.25 10' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            .box.img-block
                img(src="./assets/img/marketing-img.png" alt="")

section.block__img-text
    .container
        .block__img-text__inner
            .box.text-block.left
                h3.title Интернет-маркетинг
                .descr Контекстная реклама, SMM, лидогенерация, баннерная и видео реклама - то, что поможет вашему бизнесу в сети. Мы работаем, чтобы сделать ваш Digital эффективнее.
                .btn-2
                    a.btn-2__link(href="/") Поболтаем?
                        span.btn-2__arrow
                            svg(width='21' height='11' viewbox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1 5.38462H20M20 5.38462L15.25 1M20 5.38462L15.25 10' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            .box.img-block
                img(src="./assets/img/programmatic-img.png" alt="")

section.block__img-text
    .container
        .block__img-text__inner
            .box.text-block
                h3.title Интернет-маркетинг
                .descr Контекстная реклама, SMM, лидогенерация, баннерная и видео реклама - то, что поможет вашему бизнесу в сети. Мы работаем, чтобы сделать ваш Digital эффективнее.
                .btn-2
                    a.btn-2__link(href="/") Поболтаем?
                        span.btn-2__arrow
                            svg(width='21' height='11' viewbox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1 5.38462H20M20 5.38462L15.25 1M20 5.38462L15.25 10' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            .box.img-block
                img(src="./assets/img/mac-seo.png" alt="")

