section.text-block
    .container
        .text-block__inner
            h2  Откройте для себя возможности Digital маркетинга

section.text-block
    .container
        .text-block__inner
            h2  Начните продвигать свой Бренд уже сейчас
            .btn.yellow
                a.btn__link(href="/") Связаться с нами
