section.main-screen
    .container
        //первый блок
        .main-screen__inner
            .box.text-block
                h1.title Продвигайте свой бренд в &nbsp;
                    .text-typing
                        span#typed.yellow
                    //p#typeText.type-text
                    //pre#demo
                    #typed-strings
                        span Google
                        span Yandex
                        span Facebook

                .subtitle Запускать рекламу в интернете с нами проще и удобнее. Делигируйте SEO, контекстную и медийную рекламу профессионалам своего дела и сфокусируйтесь на более важных задачах вашего бизнеса.
                .btn
                    a.btn__link(href="/") Связаться с нами

            .box.image-block
                .slider
                    .slider__phone
                        img.slider__item(src="./assets/img/slider-phone-frame.png" alt="")

                        //img.slider(src="./assets/img/programmatic-img.png" alt="")
                        //img.slider(src="./assets/img/programmatic-img.png" alt="")
                    .slider__tablet
                        img.slider__item(src="./assets/img/slider-tablet-frame.png" alt="")

                        //img.slider(src="./assets/img/programmatic-img.png" alt="")
                        //img.slider(src="./assets/img/programmatic-img.png" alt="")
                        //img.slider(src="./assets/img/programmatic-img.png" alt="")
                .image-block__bg


            .main-screen-scroll-svg
                svg.animate__animated.animate__bounce(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24')
                    title Далее
                    polyline(fill='none' stroke='#3A4A59' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' points='.222 4.222 15.778 4.222 15.778 19.778' transform='rotate(45 8 12)')


        //второй блок
        .main-screen__inner.screen-2
            .text-block
                h4.title Отдайте performance маркетинг на аутсорс.
                .subtitle Экономьте время на рутине, занимайтесь стратегически важными делами, а маркетинг мы сделаем за вас.
                .btn
                    a.btn__link(href="/") Поболтаем?
                .bg-yellow