section.text-section.yellow
    //img(src='../assets/img/bg-yellow.png')
    .container
        .text-block__inner
            h2.title  Откройте для себя возможности Digital маркетинга

section.text-section.white
    .container
        .text-block__inner
            .subtitle Чего вы ждете?
            h2.title  Начните продвигать свой Бренд уже сейчас
            .btn.yellow
                a.btn__link(href="/") Связаться с нами
